<h1>Bonjour ! Veuillez confirmer votre eEmail</h1>

<p>
    Veuillez confirmer votre e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très vite sur MyContacts !
</p>
