{% extends 'base.html.twig' %}

{% block title %}MyContacts - gestion de contacts{% endblock %}

{% block body %}

<div class="container-page">
      
    <section id="bienvenue">
        <h1>MyContacts, votre site de gestion de contacts</h1>
    <section></section>
</div>

{% endblock %}
